<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POST CONTENT</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='remchat_logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <header>
      <img
        src="{{ url_for('static', filename='remchat_logo.png') }}"
        alt="Remchat Logo"
        class="logo"
      />
      <h3 class="site-title">REMCHAT</h3>
      <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
      <nav class="navbar">
        <!-- Navigation Links -->
        <a
          href="{{ url_for('dashboard', username=session['username']) }}"
          class="submit-button"
          >Dashboard</a
        >
        <a
          href="{{ url_for('messages_route', username=session['username']) }}"
          class="submit-button"
          >Messages</a
        >
        <a
          href="{{ url_for('search_users_view', username=session['username']) }}"
          class="submit-button"
          >Search</a
        >
        <a
          href="{{ url_for('post_content_view', username=session['username']) }}"
          class="submit-button"
          >Post</a
        >
        <a
          href="{{ url_for('posts_view', username=session['username']) }}"
          class="submit-button"
          >Post Feeds</a
        >
        <a href="/logout" class="submit-button">Logout</a>
      </nav>
    </header>

    <main class="container" style="background-color: #dcf8c6">
      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <br />

      <section class="user">
        <!-- Post Content Form -->
        <form
          action="{{ url_for('post_content_view', username=session['username']) }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="image" class="custom-file-label">Choose an image</label>
          <input
            type="file"
            id="image"
            name="image"
            class="custom-file-input"
            accept="image/*"
            aria-label="Image upload"
          /><br />
          <textarea
            name="content"
            placeholder="Write something..."
            rows="5"
            cols="40"
            required
            aria-label="Post content"
          ></textarea
          ><br />
          <button type="submit" class="submit-button" aria-label="Submit post">
            Post
          </button>
        </form>
      </section>
    </main>

    <footer>
      <small>&copy; 2024 Remchat. All rights reserved.</small>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
