<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='remchat_logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='remchat_logo.png') }}"
        alt="Remchat Logo"
        class="logo"
      />
      <h3 class="site-title">DASHBOARD</h3>
      <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
      <nav class="navbar">
        <a
          href="{{ url_for('dashboard', username=session['username']) }}"
          class="submit-button"
          >Dashboard</a
        >
        <a
          href="{{ url_for('messages_route', username=session['username']) }}"
          class="submit-button"
          >Messages</a
        >
        <a
          href="{{ url_for('search_users_view', username=session['username']) }}"
          class="submit-button"
          >Search</a
        >
        <a
          href="{{ url_for('post_content_view', username=session['username']) }}"
          class="submit-button"
          >Post</a
        >
        <a
          href="{{ url_for('posts_view', username=session['username']) }}"
          class="submit-button"
          >Post Feeds</a
        >
        <a href="/logout" class="submit-button">Logout</a>
      </nav>
    </header>

    <main class="container">
      <!-- Flash Message Section -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <!-- Profile Section -->
      <div class="profile-container">
        <section class="profile-section">
          <p class="name">{{ session['name'] }}</p>
          <div class="profile-picture-section">
            {% if img %}
            <img
              class="profile-picture"
              src="data:image/jpeg;base64,{{ img }}"
              alt="Profile Picture"
            />
            {% else %}
            <div class="image-placeholder">
              <p>No profile picture uploaded</p>
            </div>
            {% endif %}
          </div>

          <!-- Update Profile Picture Form -->
          <form
            action="{{ url_for('dashboard', username=session['username']) }}"
            method="POST"
            enctype="multipart/form-data"
            id="myForm"
          >
            <details>
              <summary class="name">Update Picture</summary>
              <label for="image" class="custom-file">Update Picture</label>
              <input
                type="file"
                id="image"
                name="image"
                class="custom-file-input"
                required
              />
              <button type="submit" class="submit-button">
                {% if img %} Change Picture {% else %} Upload Picture {% endif
                %}
              </button>
            </details>
          </form>
        </section>

        <!-- Followers Section -->
        <section class="followers-section">
          <p class="name">
            <span>
              {% if not details[6] %} No followers {% else %} {{ details[6] }}
              followers {% endif %}
            </span>
            <span>&Equilibrium;</span>
            <span>
              {% if not details[7] %} No following {% else %} following {{
              details[7] }} {% endif %}
            </span>
          </p>
        </section>
      </div>

      <!-- Search and Follow/Unfollow Section -->
      <section class="user-search-section">
        <form
          action="{{ url_for('search_users_view', username=session['username']) }}"
          method="POST"
          id="myForm"
        >
          <input
            type="text"
            name="search_query"
            placeholder="Search for users to follow"
            required
          />
          <button type="submit" class="submit-button">Search</button>
        </form>
      </section>
    </main>

    <footer>
      <small>&copy; 2024 Remchat. All rights reserved.</small>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
