<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='remchat_logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <header>
      <img
        src="{{ url_for('static', filename='remchat_logo.png') }}"
        alt="Remchat Logo"
        class="logo"
      />
      <h3 class="site-title">MESSAGES</h3>
      <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
      <nav class="navbar">
        <a
          href="{{ url_for('dashboard', username=session['username']) }}"
          class="submit-button"
          >Dashboard</a
        >
        <a
          href="{{ url_for('messages_route', username=session['username']) }}"
          class="submit-button"
          >Messages</a
        >
        <a
          href="{{ url_for('search_users_view', username=session['username']) }}"
          class="submit-button"
          >Search</a
        >
        <a
          href="{{ url_for('post_content_view', username=session['username']) }}"
          class="submit-button"
          >Post</a
        >
        <a
          href="{{ url_for('posts_view', username=session['username']) }}"
          class="submit-button"
          >Post Feeds</a
        >
        <a href="{{ url_for('logout') }}" class="submit-button">Logout</a>
      </nav>
    </header>

    <main class="container">
      <!-- Flash Message Section -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <!-- Search Users Section -->
      <section class="user">
        <h3>Search Users</h3>
        <form
          method="POST"
          action="{{ url_for('messages_route', username=session['username']) }}"
          id="myForm"
        >
          <div class="input-group">
            <input
              type="text"
              name="search_query"
              placeholder="Enter username or name"
              required
              value="{{ search_query }}"
            />
            <div class="input-group-append">
              <button type="submit" class="submit-button">Search</button>
            </div>
          </div>
        </form>

        {% if users %}
        <ul>
          {% for user in users %}
          <li>
            <div class="creator_info">
              <img
                class="creator-image"
                src="data:image/jpeg;base64,{{ user.profile_picture }}"
                alt="{{ user.name }}'s profile picture"
              />
              <a
                href="{{ url_for('chat_room_route', user_id=user.id, username=session['username']) }}"
                class="submit-button"
                style="font-size: 0.8rem; max-width: 70%"
                >Message {{ user.name }}</a
              >
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- Pagination Controls -->
        <div class="pagination">
          {% if page > 1 %}
          <a
            href="{{ url_for('messages_route', username=session['username'], page=page - 1, query=search_query) }}"
            class="submit-button"
            aria-label="Previous page"
            >Previous</a
          >
          {% endif %}
          <p>Page {{ page }} of {{ total_pages }}</p>
          {% if page < total_pages %}
          <a
            href="{{ url_for('messages_route', username=session['username'], page=page + 1, query=search_query) }}"
            class="submit-button"
            aria-label="Next page"
            >Next</a
          >
          {% endif %}
        </div>
      </section>

      <br /><br />

      <!-- Previous Chats Section -->
      <section class="user">
        <h3>Previous Chats</h3>
        <ul>
          {% for user in previous_users %}
          <li>
            <a
              href="{{ url_for('chat_room_route', user_id=user.id, username=session['username']) }}"
              class="chat-button"
            >
              <div class="creator_info">
                <img
                  class="creator-image"
                  src="data:image/jpeg;base64,{{ user.profile_picture }}"
                  alt="{{ user.name }}'s profile picture"
                />
                <span class="messageNames">{{ user.name }}</span>
              </div>
            </a>
          </li>
          <br />
          {% endfor %}
        </ul>
      </section>
    </main>

    <footer>
      <small>&copy; 2024 Remchat. All rights reserved.</small>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
