<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>User Search</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='remchat_logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <header>
      <img
        src="{{ url_for('static', filename='remchat_logo.png') }}"
        alt="Remchat Logo"
        class="logo"
      />
      <h3 class="site-title">SEARCH</h3>
      <button class="nav-toggle">☰</button>
      <nav class="navbar">
        <a
          href="{{ url_for('dashboard', username=session['username']) }}"
          class="submit-button"
          >Dashboard</a
        >
        <a
          href="{{ url_for('messages_route', username=session['username']) }}"
          class="submit-button"
          >Messages</a
        >
        <a
          href="{{ url_for('search_users_view', username=session['username']) }}"
          class="submit-button"
          >Search</a
        >
        <a
          href="{{ url_for('post_content_view', username=session['username']) }}"
          class="submit-button"
          >Post</a
        >
        <a
          href="{{ url_for('posts_view', username=session['username']) }}"
          class="submit-button"
          >Post Feeds</a
        >
        <a href="/logout" class="submit-button">Logout</a>
      </nav>
    </header>

    <main class="container" style="background-color: #dcf8c6">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <section class="user">
        <h2>Search</h2>
        <div>
          <form
            method="POST"
            action="{{ url_for('search_users_view', username=session['username']) }}"
            id="myForm"
          >
            <div>
              <input
                type="text"
                name="search_query"
                placeholder="Enter username or name"
                required
                value="{{ search_query }}"
                aria-label="Search for users"
              />
              <div>
                <button type="submit" class="submit-button">Search</button>
              </div>
            </div>
          </form>
          <br /><br />

          {% if search_results %}
          <h4>Search Results</h4>
          <ul>
            {% for user in search_results %}
            <li>
              <div class="creator_info">
                <img
                  class="creator-image"
                  src="data:image/jpeg;base64,{{ user.profile_picture }}"
                  alt="Creator Image"
                />
                <span class="name">{{ user.name }}</span>

                <input
                  type="button"
                  value="{% if user.is_following %} Following {% else %} Follow {% endif %}"
                  onclick="follow_user('{{ user.id }}')"
                  id="button_value_{{ user.id }}"
                  class="submit-button"
                />
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No users found matching your search criteria.</p>
          {% endif %}
        </div>
      </section>

      <div class="pagination">
        {% if page > 1 %}
        <a href="?page={{ page - 1 }}&q={{ query }}" class="submit-button"
          >Previous</a
        >
        {% endif %}

        <p>Page {{ page }} of {{ total_pages }}</p>

        {% if page < total_pages %}
        <a href="?page={{ page + 1 }}&q={{ query }}" class="submit-button"
          >Next</a
        >
        {% endif %}
      </div>
    </main>

    <footer>
      <small><p>&copy; 2024 Remchat. All rights reserved.</p></small>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/follow_user.js') }}"></script>
  </body>
</html>
